/* CONTACT */


/* La div "Contact" qui contient la carte et le formulaire */
#contact {
    position: relative;
    background-color: rgb(169, 213, 233);

}

/* Le positionnement du formulaire dans la carte */
#formulaire {
    position: absolute;
    top: 15%;
    right: 15%;
}

/* L'apparence du formulaire*/
form{
    width: 100%;
    padding: 10%;
    padding-top: 5%;
    background: rgba(255, 255, 255, 0.7);
    font-family: 'roboto-regular', Arial;

}

input {
    opacity: 1;
}

#tel{
    text-decoration: dotted underline;
}

/* Carte */
iframe {
    border: none;
    width: 100%;
    height: 50vw;
}

/* Flitre bleu sur la carte*/

#map
{
    position: relative;
    opacity: 0.5;
}

/* Police du formulaire */
form h3 {
    font-weight: bold;
    font-size: 1.5vw;
    font-family: 'roboto-bold', Impact;
}

form h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1vw;
    color: rgb(61, 64, 67)
}

form p {
    margin-top: 0;
    font-size: 1vw;
    color: rgb(61, 64, 67)
}

input, textarea {
    font-family: 'roboto-regular', Impact;
    font-size: 1vw;
}


/* Bouton */
form button {
    width : auto;
	padding: 0.5em 1em 0.5em 1em;
	border: 1px solid rgb(92, 173, 211);
	border-radius: 0.3em;
	box-shadow: 0px 3px 0px rgb(68, 148, 187);
	background-color: rgb(92, 173, 211);
	color: white;
	text-decoration: none;
    font-family: 'roboto-bold', Arial;
    font-size: 1vw;
}


